/* navbar */
nav {
    background-color: #fff;
    // position: fixed;
    width: 100%;
    height: 56px;
    z-index: 3;
    margin: 0;
    border: 1px solid #979797;

    a {
        color: #3E433E;
        font-size: 14px;
    }    

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;

        li {
            a {
                display: block;
                padding: 20px 20px;
                text-decoration: none;
                line-height: 17px;
            }
        }
    }

    .logo {
        display: block;
        float: left;
        padding: 5px 20px;
        text-decoration: none;
    }

    /* menu */

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;

        .login {
            font-weight: bold;
            color: #4990E2;
        }
    }

    /* menu icon */

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: left;
        padding: 28px 20px;
        position: relative;
        user-select: none;

        .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;

            &:before {
                top: 5px;
            }

            &:after {
                top: -5px;
            }

            &:before,
            &:after {
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }

        }
    }
    
    /* menu btn */

    .menu-btn {
        display: none;

        &:checked ~ .menu {
            max-height: 340px;

            .menu-icon {
                .navicon {
                    background: transparent;

                    &:before {
                        transform: rotate(-45deg);
                    }

                    &:after {
                        transform: rotate(45deg);
                    }
                }
                &:not(.steps) .navicon:before,
                &:not(.steps) .navicon:after {
                    top: 0;
                }
            }
        }
    }
}

 /* 48em = 768px */
  
 @media (min-width: 751px) {
    nav {
        li {
            float: left;

            a {
                padding: 20px 30px;
            }
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        .menu-icon {
            display: none;
        }
    }
}

@media (max-width: 750px) {
    .logo {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        float: none;
    }
}