.login-container,
.account-container {
    margin: 40px auto;
    width: 300px;
    color: #3E433E;

    .login-screen,
    .account-screen {
        padding: 20px;
        border-radius: 5px;
        
        .login-title,
        .account-title {
            font-size: 24px;
            text-align: center;
            margin-bottom: 40px;

            .logged-user {
                color: #4990E2;
            }
        }
        
        .login-form {
            text-align: center;
        
            .control-group {
                margin-bottom: 10px;
            
                .user-label,
                .password-label {
                    float: left;
                    font-size: 14px;
                    margin: 5px 0 0 0;
                }

                input {
                    background-color: #fff;
                    border: 1px solid #BFBFBF;
                    border-radius: 3px;
                    font-weight: 200;
                    padding: 10px;
                    width: 242px;
                    height: 30px;
                .left {
                    text-align: left;
                }
                    &:focus {
                        border: 1px solid #3498DB;
                        box-shadow: none;
                    }
                }
            }
            .btn-big {
                width: 100% !important;
            }
        }
    }
}

.account-container {
    width: 100%;
    text-align: center;

    .account-interest {
        margin: 20px 0;
        padding: 0 0 0 55px;
    }

    .account-submit {
        margin: 40px 20px 20px;
    }
}